/*
Theme Name: Velocity Mobil1
Theme URI: https://velocitydeveloper.com
Description: Velocity Developer WordPress theme child theme (v3.0.0).
Author: Velocity Developer
Author URI: https://velocitydeveloper.com/kontak-kami/
Template: velocity
Version: 3.0.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */
